.navbar {
	display: flex;
	flex-wrap: nowrap;
	justify-content: left;
    align-items: center;
	background-color: #03045E;
	text-decoration: none;
    position: sticky;
    top: 0;
    width: 100%;
    margin: 0;
    height: 3.5rem;
}

.navbar__item {
	flex-basis: 20%;
	list-style-type: none;
}

.navbar__link {
    color: #CAF0F8;
}

.navbar__logout {
	margin-left: auto;
}
